<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="main-page">
    <header>
        <nav>
            <ul>
                <li><a href="html/login.html" class="button">Вход</a></li>
                <li><a href="html/registration.html" class="button">Регистрация</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>PrimeCloud</h1>
    </main>
</body>
</html>